*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #E2DED2;display: flex;justify-content: center;align-items: flex-start;min-height: 100vh;
}
.wrapper{
    margin-top: 3em;width:720px;border-radius: 4px;padding: 8px;position: relative;
    background: repeating-linear-gradient(-45deg,#B9E263,#B9E263 2px,#CECABE 2px,#CECABE 4px);
}
.wrapper::before{
    content: '';display: block;position: absolute;top: -2px;bottom: -2px;left: -2px;right: -2px;
    border: 1px solid #CBC7BC;border-radius: 6px;z-index: -1;
}
.tabs{background-color: #F2F1EC}
.tabs ol{list-style: none;}
.tabs ol:first-child{display: flex;border: 1px solid #B8B3AE;border-bottom: none}
.tabs ol:first-child>li{
    text-align: center;flex-grow: 1;color: #847E6F;text-shadow: 1px 1px 1px white;
    text-transform: uppercase;box-shadow: inset 0 0 2px hsla(0,0%,0%,0.15);padding: 20px;
}
.tabs ol:first-child>li.active{
    background: linear-gradient(to bottom,white 0%,#F0EDE6 100%);color:red;  box-shadow: none;
}
.tabs ol:nth-child(2){  border: 1px solid #B8B3AE;border-top:none;background:#F0EDE6;  }
.tabs ol:nth-child(2)>li{min-height: 5em;display: none}
.tabs ol:nth-child(2)>li.active{
    display: flex;justify-content:center;align-items: center;
}
.circle{
    width: 80px;height: 80px;border-radius: 50%;background:#DFDCD3;display: flex;
    justify-content: center;align-items: center;font-size: 28px;
    color: red;margin: 5em 0;
}
